<!DOCTYPE html>
<html>
<head>
{{>head title="GBATek" desc="Easily browse the GBATek."}}
{{>_style_bootstrap}}
{{>_style_fontawesome}}
{{>_style_index}}
</head>
<body>
{{>header}}
<div class="container">
</div>
{{>footer}}
{{>_code_jquery}}
{{>_code_bootstrap}}
{{>_code_popper}}
{{>_code_tooltips}}
</body>
</html>
