<!DOCTYPE html>
<html>
<head>
{{>head title="gbadev.io" desc="Game Boy Advance development made simple."}}
{{>_style_bootstrap}}
{{>_style_fontawesome}}
{{>_style_index}}
</head>
<body>
{{! header, manually inserted to remove self-referencing links}}
<div class="_title">
<div class="container">
<div class="row">
<div class="d-sm-block" style="width:100%;">
<div class="text-center">
<h1 id="_title">gbadev.io</h1>
</div>
</div>
</div>
</div>
<div class="_topbar"></div></div>
{{! end header }}
<div class="container">
<div class="row">
<div class="col-xs-12">
<h1 class="_slogan">A compendium for the Game Boy Advance</h1>
</div>
</div>
<div class="row">
<div class="col-xs-12" style="width:100%">
<div class="_medsoc-outer">
{{>medsoc url="https://github.com/fhtk" img="https://cdn2.arqadium.com/f/8d27f503d0f14094aa8b71e5efff38d8/unknown.svg"}}
{{>medsoc url="https://reddit.com/r/gbadev" img="https://cdn2.arqadium.com/f/95a3e055f7fd4d3ca813aed1698f8953/unknown.svg"}}
{{>medsoc url="https://discord.gg/C2NZDFy" img="https://cdn2.arqadium.com/f/4158ca145b924796ab0428387a5d358a/unknown.svg"}}
<div class="_medsoc">
<a href="https://twitter.com/gbadev0" target="_blank" class="_plainlinks">
<img src="https://cdn2.arqadium.com/f/0c622ab942064f36b4521254ccd6acf1/unknown.svg" class="_medsoc-round" />
</a>
</div>
{{>medsoc url="https://webchat.freenode.net/?channels=##gbadev" img="https://cdn2.arqadium.com/f/e0ddff25d77c4a029a626e9087db0560/unknown.svg"}}
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
<p>
This is the preeminent resource center for software development on the Nintendo® Game Boy Advance™ video game console. It is a major arm of the <a href="https://github.com/fhtk" target="_blank">Fanhacker’s Toolkit</a>, which endeavours for homebrew and hacking fans of popular games.
</p>
<p>
The meat of this compendium can be found in <a href="/list">the Awesome List</a>, though beware it is still very much a work-in-progress. There is also a <a href="/gbatek">great reformatting</a> of Martin’s <a href="https://problemkaputt.de/about.htm" target="_blank">GBATek</a>, the NO$GBA documentation extract. Projects with the FHTK include:
<ul>
<li><a href="https://github.com/nicholatian/nichruby">nichruby</a> – a clean reimplementation of Pokémon Ruby Version</li>
<li><a href="https://github.com/aquefir/unilib">unilib</a> – a libc-like runtime support library</li>
<li><a href="https://github.com/nicholatian/saturn">Saturn</a> – a game engine for the GBA (archive)</li>
</ul>
</p>
</div>
</div>
</div>
{{>footer}}
{{>_code_jquery}}
{{>_code_bootstrap}}
{{>_code_popper}}
{{>_code_tooltips}}
</body>
</html>
