<!DOCTYPE html>
<html>
<head>
{{>head title="Awesome GBADev" desc="An Awesome List for the Game Boy Advance."}}
{{>_style_bootstrap}}
{{>_style_fontawesome}}
{{>_style_list}}
</head>
<body>
{{>header}}
<div class="container">
<h1 class="_title">Awesome GBADev<sup>®</sup></h1>
<h2 class="_title">Curated resources for the Game Boy Advance</h2>
<p>
This is a curated list of <em>awesome</em> resources for software development on the Nintendo® Game Boy Advance™, in the spirit of the <a href="https://github.com/sindresorhus/awesome" target="_blank">Awesome List</a> by Sindre Sorhus. It is maintained by <a href="https://nicholatian.com/" target="_blank">Alexander Nicholi</a>.
</p>
<h2 id="community">Community resources</h2>
<ul>
<li><a href="https://www.reddit.com/r/gbadev" target="_blank"><strong>r/gbadev subreddit</strong></a> – a subreddit with useful links for GBA dev across time.</li>
<li><a href="https://webchat.freenode.net/?channels=##gbadev" target="_blank"><strong><code>##gbadev</code> on Freenode</strong></a> – easily accessible IRC channel for GBA dev.</li>
<li><a href="https://twitter.com/gbadev0" target="_blank"><strong>GBADev on Twitter</strong></a> – a news feed for GBA dev.</li>
<li><a href="https://discord.gg/C2NZDFy" target="_blank"><strong>FHTK Discord</strong></a> – a Discord guild for discussing fanhacking and GBA dev.</li>
</ul>
<h2 id="reference">Reference materials</h2>
<ul>
<li><a href="https://problemkaputt.de/gbatek.htm" target="_blank"><strong>the original GBATek</strong></a> – the ultimate documentation piece for the Game Boy Advance.</li>
<li><a href="/gbatek" target="_blank"><strong>GBATek reformatted</strong></a> – GBATek reformatted for easier reading in modern web browsers.</li>
<li><a href="https://www.coranac.com/tonc/text/toc.htm" target="_blank"><strong>Tonc</strong></a> – a library and tutorial suite for GBA dev</li>
</ul>
<h2 id="utilities">Utilities</h2>
<ul>
<li><a href="https://devkitpro.org/" target="_blank"><strong>devkitPro</strong></a> – GNU toolchain provider, including devkitARM for the GBA</li>
<li><a href="https://github.com/felixjones/gba-toolchain" target="_blank"><strong>gba-toolchain</strong></a> – a CMake-based GBA toolchain</li>
<li><a href="https://mgba.io/" target="_blank"><strong>mGBA</strong></a> – the emulator of choice for the GBA</li>
<li><a href="https://vba-m.com/" target="_blank"><strong>VBA-M</strong></a> – a legacy emulator of the GBA</li>
</ul>
<h2 id="software">Software libraries &amp; frameworks</h2>
<ul>
<li><a href="https://github.com/exelotl/natu" target="_blank"><strong>Natu</strong></a> – a complete framework for programming the GBA in Nim</li>
<li><a href="https://github.com/aquefir/unilib" target="_blank"><strong>unilib</strong></a> – a C utility library usable across systems, including the GBA</li>
<li><a href="https://github.com/sebknzl/krawall" target="_blank"><strong>Krawall</strong></a> – an audio library for the GBA (stable)</li>
<li><a href="https://maxmod.devkitpro.org/" target="_blank"><strong>Maxmod</strong></a> – an audio library providing MOD, S3M, XM and IT module playback</li>
</ul>
</div>
{{>footer}}
{{>_code_jquery}}
{{>_code_bootstrap}}
{{>_code_popper}}
{{>_code_tooltips}}
</body>
</html>
