<!DOCTYPE html>
<html>
<head>
{{>head title="Awesome GBADev" desc="An Awesome List for the Game Boy Advance."}}
{{>_style_bootstrap}}
{{>_style_fontawesome}}
{{>_style_index}}
</head>
<body>
{{>header}}
<div class="container">
	<p>This is under construction. Please check back later!</p>
</div>
{{>footer}}
{{>_code_jquery}}
{{>_code_bootstrap}}
{{>_code_popper}}
{{>_code_tooltips}}
</body>
</html>
