<div style="margin-top:5rem;"></div>
<div class="_bottombar2"></div>
<div class="_bottombar1"></div>
<div class="container">
<div style="margin-top:4rem;"></div>
<div class="_footer">
Copyright &#169; 2014&#150;2020 <a href="https://nicholatian.com/"
target="_blank">Alexander Nicholi</a>.<br />
Copyright &#169; 2020 <a href="https://github.com/fhtk"
target="_blank">Fanhacker’s Toolkit</a>.<br />
All rights reserved.
</div>
<div style="padding-top:5rem;"></div>
</div>
