<div class="_title">
<div class="container">
<div class="row">
<div class="d-sm-block" style="width:100%;">
<div class="text-center">
<a class="_plainlinks" href="/">
<h1 id="_title">gbadev.io</h1>
</div></a>
</div>
</div>
</div>
<div class="_topbar"></div>
</div>
